@use "../../index.scss" as *;

.badge {
  /* Colors */
  --primary: #1b2134;
  --neutral: #f1f1f1;
  --positive: #b1ffc7;
  --negative: #ffbfb1;

  /* Borders */
  --border-radius: 12px;

  @include body-s;
  display: inline-block;
  padding: var(--space-4xs) var(--space-3xs);
  border-radius: var(--border-radius);
  color: var(--primary);
  background-color: var(--neutral);
  white-space: nowrap;

  &.positive {
    background-color: var(--positive);
  }

  &.negative {
    background-color: var(--negative);
  }

  @media (min-width: 768px) {
    padding: var(--space-3xs) var(--space-2xs);
  }
}
