@use "../../index.scss" as *;

.tab {
  --pill-default-background: var(--color-background);
  --pill-default-text: var(--color-primary-100);
  --pill-default-hover: var(--color-primary-20);
  --pill-default-active: var(--color-primary-40);
  --pill-selected-background: var(--color-primary-100);
  --pill-selected-text: var(--color-background);
  --pill-selected-hover: var(--color-primary-80);
  --pill-selected-active: var(--color-primary-50);

  @mixin pill-base {
    border-radius: 100px;
    background-color: white;
    border: 1px solid #D3D3DC;
    padding: 0 var(--space-s);
    background-color: var(--pill-default-background);
    color: var(--pill-default-text);
  }

  @mixin underline-base {
    background-color: transparent;
  }

  @include body-m;
  height: 42px;
  border: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--space-xs);

  @media (min-width: 768px) {
    height: 50px;
  }

  &:focus {
    outline: auto;
    outline-offset: 4px;
  }

  &.pill {
    @include pill-base;

    &:hover {
      background-color: #F0F0F0;
    }

    &:active {
      background-color: #F0F0F0;
    }

    &.selected {
      background-color: #1B2134;
      color: #FFF;
      border: none;

      &:hover {
        background-color: #343A4E;
      }

      &:active {
        background-color: #585D71;
      }
    }
  }

  &.underline {
    background-color: transparent;
    padding: 0;
    border-bottom: 2px solid transparent;
    
    &:hover {
      border-bottom: 2px solid #C4C5CF;
    }

    &:active {
      border-bottom: 2px solid #C4C5CF;
    }

    &.selected {
      border-bottom: 2px solid #1B2134;
    }
  }
}